DB_HOST=localhost
DB_PORT=5432
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DATABASENAME>
ETH_NETWORK=<Mainnet or Rinkeby>
IPC_FILE_PATH=<FULL PATH TO FULL NODE IPC>
RPC_URL_PATH=<URL TO FULL NODE RPC>